body {
  font-family: "Arial";
}
.main-image {
  border-radius: 50%;
  border: 3px solid purple;
}
.section-title {
  text-transform: uppercase;
  color: purple;
}

.section-head {
  background-color: #e2e2e2;
  padding: 5px;
}
